body{
    text-align: center;
    background: linear-gradient(black 0%, blue 35%, cyan 70%);
    background-repeat: no-repeat;
}
h1{
    text-shadow: 2px  2px;
    font-size: 20px;
}
#Fried_Chicken{
background: lightslategray;
}
#Fried_Chicken img{
 height:300px;
 margin-top:40px;
}
.carousel-inner p {
    margin-bottom: 20px;
    margin-top:20px;
    color:cyan;
    font-size: 20px;
}
#bio{
    padding: 50px;
    text-align: center;
    font-size: 42px;
    margin-top: 250px;
    z-index: 8;
}
.line{
    width: 101px;
    height: 5px;
    background-color: maroon;
    margin: 5px auto;
}
p{
    max-width: 450px;
    margin: 25px auto;
    font-size: 18px;
    line-height: 1.3;
}
.Menu{
    list-style: none;
    position: absolute;
    top: 25px;
    right: 40px;
    font-family: fantasy;
    cursor: pointer;
    z-index: 10;
}
.links{
    float: left;
    color: seashell;    
    padding-top: 5px; 
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: fantasy;
    font-size: 25px;
}
.links a{
    color: seashell; 
    font-family: fantasy;
    font-size: 25px;
}
.links:hover{
background-color: royalblue;
}
#Fire a{
   font-family: fantasy;
   font-size: 25px;
   color: mediumaquamarine;
   text-decoration: none;
}
#Fire a:hover{
    background: navy;
    font-weight: 600;
    font-size: 30px;
}
#Air a{
    font-family: fantasy;
    font-size: 25px;
    color:midnightblue;
    text-decoration: none;
 }
 #Air a:hover{
     background:deepskyblue;
     font-weight: 600;
     font-size: 30px;
 }
 html{
     scroll-behavior: smooth;
 }
 h3{
     display: inline;
 }